
//========== Buttons ==========//

.button {
    display: inline-block;
    background-color: get-color('secondary');
    border: 0;
    border-radius: v(border-radius);
    color: get-color('white');
    padding: get-size('300') get-size('500');
    transition: background-color v(transition-duration) v(transition-timing);
    @include apply-utility('weight', 'bold');

    &:hover {
        background-color: darken(get-color('secondary'), $amount: 20%); 
    }

    &:focus {
        outline: 3px solid get-color('secondary');
        outline-offset: .25rem;
    }
}
