//========== Images ==========//

.image {
    &.fit {
			display: block;
			margin: 0;
			width: 100%;
			text-align: center;
			object-fit: cover;

			img {
				width: 100%;
			}
		}

		&.circle {

			img {
				border-radius:50%;
			}
		}

}