<footer id="footer" class="footer bg-surface">

    <div class="footer-inner inner box-flex pt-600 pb-600">

        <p class="color-ink text-400">© 2026 {{ site.name }} | <a href="{{ '/archive/2024/' | url }}">2024 Archive</a></p>

        {% include 'components/social-icons.njk' %}

    </div>

</footer>