<a class="logo" href="{{ '/' | url }}" title="Communication Science Futures">
    <img class="logo-mark" src="{{ '/images/meta/csf_icon.png' | url }}" alt="">
    <span class="logo-wordmark">Comm Sci<br>Futures</span>
</a>
