
{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ meta_title if meta_title else title }} | {{ site.name }}">
<meta name="twitter:description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
<meta name="twitter:site" content="{{ site.author.handle }}">
<meta name="twitter:creator" content="{{ site.author.handle }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.images.twitter }}">

{# Open Graph #}
<meta property="og:title" content="{{ meta_title if meta_title else title }} | {{ site.name }}">
<meta property="og:description" content="{{ meta_description | truncate(140) if meta_description else content | striptags | truncate(140) }}">
<meta property="og:image" content="{{ site.url }}{{ site.images.og }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
