
//========== Typography ==========//

// set base font size
body {
    font-size: #{get-size('500')};
}

// headings
h1,
h2,
h3 {
    @include apply-utility('leading', 'tight');
}

h1 {
    --gap: #{get-size('300')};
    font-family: "ibm-plex-sans";
    font-size: #{get-size('800')};
    font-weight: 800;
    margin: 0 0 v(gap);

     @media (min-width : 40em) {
        --gap: #{get-size('300')};
        font-size: #{get-size('800')};
        margin: 0 0 v(gap);
    }
}

h2 {
    font-size: #{get-size('600')};
    --gap: .5em !important;
    margin-bottom: v(gap);

     @media (min-width : 40em) {
        --gap: #{get-size('300')};
        font-size: #{get-size('600')};
        margin-bottom: v(gap);
    }
}

h3 {
    font-size: #{get-size('600')};
    --gap: .3em !important;
    margin-bottom: v(gap);
}

.content {
    word-wrap: break-word;
}

// sub-heading
.sub-heading {
    color: get-color('grey');
    line-height: 1.5;
    font-weight: 500;
}

.page-title {
    margin: 0;
}

// lists
ol,
ul {
    margin-left: get-size('500');
    padding: 0 0 0 get-size('500');
}

