---
layout: base
data: organizer_list
---

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/4451d51824.js" crossorigin="anonymous"></script>
</head>

<main id="main" class="main inner box-flex pt-600 pb-1100" tabindex="-1">

    <article id="container-centre" class="column centre">

        <header class="page-header">

            <h1 class="page-title">{{ title }}</h1>

            {% if sub_heading %}

                <p class="sub-heading">{{ sub_heading }}</p>

            {% endif %}

        </header>

        <div class="content flow">

            <div class="inner">
                <div class="box-grid headshot-grid">

                    {% set org_shuf = organizer_list | shuffle %}

                    {%- for organizer in org_shuf %}
                        <div class="headshot-card">
                            <div class="card-body">
                                <div class="card-header-image"><img data-src="{{ organizer.headshot }}" alt="{{ organizer.name }}"></div>
                                <div class="name text-500">{{ organizer.name }}</div>
                                <div class="affiliation">
                                    <i class="fas fa-solid fa-microscope" style="padding:0 .5em 0 0; color:grey"></i>
                                    {{ organizer.position }}<br>
                                </div>
                                <div class="affiliation">
                                    <i class="fas fa-university" style="padding:0 .5em 0 0; color: grey"></i>
                                    <a href="{{organizer.institution_link}}">{{ organizer.institution }}</a><br>
                                </div>
                            </div>
                        </div>
                    {% endfor -%}
                </div>

                <div class = "callout">
                    <div class = "callout-icon">
                        <i class="fas fa-exclamation-circle color-grey"></i>
                    </div>
                    <div class = "callout-text">
                        {{ content | safe }}
                    </callout>
                </div>
            </div>
        </div>

    </article>

</main>