---
layout: base
tags: agenda-items
pagination:
  data: agenda
  size: 1
  alias: presentation
  addAllPagesToCollections: true
permalink: "agenda-items/item-{{presentation.number}}/index.html"
---

<head>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/4451d51824.js" crossorigin="anonymous"></script>
</head>

<main id="main" class="main inner box-flex pt-1100 pb-1100" tabindex="-1">

  <article id="container-centre" class="column centre">

    <div class="content flow">

      <div class="inner">

        <img class="header-img" src="{{ '/images/meta/csf_icon.png' | url }}" alt="Communication Science Futures">

        <div class="presentation-card">

          <div class="theme-chip">
            {% if presentation.theme == "keynote" %}
              <i class="fas fa-star" style="padding:0 .5em 0 0; color:white"></i> Keynote Address
            {% else %}
              <p>Futures in {{ presentation.theme | capitalize }}</p>
            {% endif %}
          </div>

          <div class="item-title">
            <h2>{{ presentation.title }}</h2>
          </div>

          {% if presentation.headshot %}
            <img class="item-headshot" src="{{ presentation.headshot | url }}" alt="{{ presentation.presenter }}">
          {% endif %}

          {% if presentation.presenter is string %}
            <div class="item-presenters">
              <i class="fas fa-solid fa-user" style="padding:0 .5em 0 0; color:grey"></i>
              <b>{{ presentation.presenter }}</b>
            </div>
            <div class="item-affiliations">
              <i class="fas fa-university" style="padding:0 .5em 0 0; color:grey"></i>
              {{ presentation.affiliation }}
            </div>
          {% else %}
            <div class="item-presenters">
              {% for presenter in presentation.presenter %}
                <div>
                  <i class="fas fa-solid fa-user" style="padding:0 .5em 0 0; color:grey"></i>
                  <b>{{ presenter }}</b>
                </div>
              {% endfor %}
            </div>
            <div class="item-affiliations">
              {% for affil in presentation.affiliation %}
                <div>
                  <i class="fas fa-university" style="padding:0 .5em 0 0; color:grey"></i>
                  {{ affil }}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <div class="item-abstract">
            <p>{{ presentation.abstract }}</p>
          </div>

          <div class="prev-next-buttons">
            {% if pagination.href.previous %}
              <div>
                <a href="{{ pagination.href.previous }}">
                  <i class="fa-solid fa-chevron-left"></i> Previous
                </a>
              </div>
            {% endif %}
            {% if pagination.href.next %}
              <div>
                <a href="{{ pagination.href.next }}">
                  Next <i class="fa-solid fa-chevron-right"></i>
                </a>
              </div>
            {% endif %}
          </div>

        </div>

      </div>

    </div>

  </article>

</main>
