---
layout: base
data: agenda
---

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/4451d51824.js" crossorigin="anonymous"></script>
</head>

<main id="main" class="main inner box-flex pt-600 pb-1100" tabindex="-1">

    <article id="container-centre" class="column centre">

        <header class="page-header">

            <h1 class="page-title">{{ title }}</h1>

            {% if sub_heading %}

                <p class="sub-heading">{{ sub_heading }}</p>

            {% endif %}

        </header>

        <div class="content flow">

            <div class="inner">

                <h1>Futures in Theory</h1>

                <div class="box-grid agenda-grid">

                    {% set futures_theory = (agenda | find('theme', "theory")) %}

                    {%- for item in futures_theory %}
                        <div class="agenda-card" onclick="location.href='/agenda-items/item-{{item.number}}/index.html'">
                            <div class="card-body">
                                <div class="item-title text-500">{{ item.title}}</div>
                                <div class="item-presenter text-500">
                                    <div>
                                        <i class="fas fa-solid fa-user" style="padding:0 .5em 0 0; color:grey"></i>
                                        <b>{{ item.presenter }}</b>
                                    </div>
                                    <div>
                                        <i class="fas fa-university" style="padding:0 .5em 0 0; color: grey"></i>
                                        {{ item.affiliation }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor -%}
                </div>

                <h1>Futures in Research</h1>
                <div class="box-grid agenda-grid">

                    {% set futures_research = (agenda | find('theme', "research")) %}

                    {%- for item in futures_research %}
                        <div class="agenda-card">
                            <div class="card-body">
                                <div class="item-title text-500">{{ item.title}}</div>
                                <div class="item-presenter text-500">
                                    <div>
                                        <i class="fas fa-solid fa-user" style="padding:0 .5em 0 0; color:grey"></i>
                                        <b>{{ item.presenter }}</b>
                                    </div>
                                    <div>
                                        <i class="fas fa-university" style="padding:0 .5em 0 0; color: grey"></i>
                                        {{ item.affiliation }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor -%}
                </div>

                <h1>Futures in Methods</h1>
                <div class="box-grid agenda-grid">

                    {% set futures_methods = (agenda | find('theme', "methods")) %}

                    {%- for item in futures_methods %}
                        <div class="agenda-card">
                            <div class="card-body">
                                <div class="item-title text-500">{{ item.title}}</div>
                                <div class="item-presenter text-500">
                                    <div>
                                        <i class="fas fa-solid fa-user" style="padding:0 .5em 0 0; color:grey"></i>
                                        <b>{{ item.presenter }}</b>
                                    </div>
                                    <div>
                                        <i class="fas fa-university" style="padding:0 .5em 0 0; color: grey"></i>
                                        {{ item.affiliation }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor -%}
                </div>

                <div class = "callout">
                    <div class = "callout-icon">
                        <i class="fas fa-exclamation-circle color-grey"></i>
                    </div>
                    <div class = "callout-text">
                        {{ content | safe }}
                    </callout>
                </div>
            </div>
        </div>

    </article>

</main>