---
layout: base
data: sponsors
---

<main id="main" class="main inner box-flex pt-600 pb-1100" tabindex="-1">

        <header class="page-header">

            <h1 class="page-title">{{ title }}</h1>

            {% if sub_heading %}

                <p class="sub-heading">{{ sub_heading }}</p>

            {% endif %}

        </header>

        <div class="content flow">

        {{ content | safe }}

        <h1> Sponsors </h1>

        <div class="box-grid sponsor-grid">
            {%- for sponsor in sponsors %}
            <div class = "masonry-brick tooltip">

                <a href="{{ sponsor.link }}"><img data-src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" style="flex:{{ sponsor.flex }}"></img></a>
                <span class="tooltiptext">{{sponsor.name}}</span>

            </div>
            {% endfor -%}
        </div>

    </div>

</main>
