.headshot-grid {
    --gap: #{get-size('900')};
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: v(gap);
    padding-bottom: 15vh;

    .headshot-card {
        overflow: hidden;
        position: relative;
        border: 2px solid get-color('grey');
        border-radius: 1em;

        .card-body {
            display: flex;
            flex-direction: column;
            padding-bottom: 1.5rem;

            .card-header-image {
                flex: 1 1 auto;
                width: 100%;
            }

            .name {
                flex: 1 1 auto;
                padding: .5rem 1rem;
                font-weight: 700;
            }

            .affiliation {
                display: flex;
                flex-direction: row;
                flex: 1 1 auto;
                padding: .2rem 1rem;
                font-size: 200;
                line-height: 1;
            }

        }
         
    }
}

