.header-img {
    width: clamp(10rem, 10rem + 5vw, 20rem);
    padding-bottom: 2rem;
}

.presentation-card {
    overflow: hidden;
    display: flex;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem 1rem;
    gap: .5rem;

    .item-title {
        font-size: #{get-size('400')};
        font-weight: 400;
        padding-bottom: .5rem;
        flex: 3 1 auto;
        max-width: 60rem;
    }

    .item-presenters {
        font-size: #{get-size('500')};
        font-weight: 700;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 1rem;
        flex: 1 1 50%;
        line-height: 1.5;
    }

    .item-affiliations {
        font-size: #{get-size('500')};
        font-weight: 700;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        column-gap: 1rem;
        flex: 1 1 50%;
        line-height: 1.5;
    }

    .item-abstract {
        font-size: #{get-size('500')};
        max-width: 60rem;
        line-height: 1.8rem;
        font-weight: 400;
        padding-top: 1rem;
        flex: 1 1 auto;
    }

    .theme-chip {
        display: inline-block;
        padding: .2rem .5rem;
        margin-bottom: .5rem;
        border-radius: .5em;
        background-color: get-color('secondary');
        color: get-color('white');
        font-size: #{get-size('300')};
        font-weight: 700;
    }

    .prev-next-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        width: 100%;
        max-width: 20rem;
    }

}