.sponsor-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    row-gap: 4rem;
    column-gap: 2rem;
    padding: 2rem;
    max-width: 100%;

    .masonry-brick {
        object-fit: contain;
        height: 100px;
        max-width: 45%;

        img.loaded{
            object-fit: contain;
            height: 100%;
            width: auto;

            :hover {
                cursor: pointer;
            }
        }
    }
}

